body {
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

img {
    width: 180px;
    height: 183px;
}
.top {
    background-color: cornsilk;
    font-size: 1rem;
}

.top a {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover {
    color: lightblue;
    background-color: royalblue;
}

.seminar1 {
    text-align: center;
}
h2 {
    color: brown;
    background-color: cornsilk;
    font-family: 'Henny Penny', cursive;
    font-size: 25px;
}

@media screen and (max-width : 500px) {
    font-size: 3rem;
    display: block;
}
